.item {
    display: flex;
    align-items: center;
    *{
        margin-right: 10px;
    }
    .name {
        width: 200px;
    }

    .disabled-name {
        text-decoration: line-through;
        color: grey;
    }
}